body {
    font-family: Trebuchet MS, Verdana, UnDotum;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    padding: 0;
    margin: 0;
	color: #84bfff;
	background:#001b2f url(../img/body_bgr.jpg) repeat-x top;
} 

a:hover {
	color:red;
	text-decoration:none;
}

a {
	color: white;
	text-decoration:none;
}

div.left{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 992px;
    display:block;
}

#content{
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 980px;
    z-index: 5;
    position: relative;
}

div.index{
	background: url(../img/index_bgr_1.jpg) no-repeat;
	height:596px;
}
#head {
    display: block;
    height: 157px;
	background: url(../img/head.jpg) no-repeat;
    position: relative;
    z-index: 5;
}

#foot {
    height: 147px;
    width: 980px;
    display: block;
    padding: 83px auto 0 auto;
    text-align: center;
	background:url(../img/foot_bgr.jpg) repeat-x;
}

div.logo{
    position: absolute;
    z-index: 6;
    top: 50px;
    left: 33px;
}

div.menu{
	display: block;
	position: absolute;
    z-index: 6;
    top: 75px;
    right: 40px;
}

div.menu a{
	font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    float: left;
    padding: 0 10px;
}

div.menu div.delim {
    background: url(../img/head_delimiter.jpg)	no-repeat;
    width: 8px;
    height: 20px;
    display: inline;
    float: left;
}

h1 {
	font-size: 16px;
    position: absolute;
    top: 22px;
    font-weight: normal;
    left: 33px;
    color: white;
}

div.texts_left {
    position: absolute;
    top: 77px;
    left: 33px;
}

div.texts_left div {
    padding: 0 0 25px 0;
	width:220px;
}


div.texts_right{
	position: absolute;
    bottom: 10px;
    right: 40px;
    text-align: center;
}

div.texts_right div{
	padding: 0 0 40px 0;
	position: relative;
	text-align: center;
}

div.texts_right a{
	font-size: 2em;
	float: right;
	text-align: center;
	width: 100%;
}

table.login th{
	text-align:center;
	color:white;
}



