body {
    font-family: Trebuchet MS, Verdana, UnDotum;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    padding: 0;
    margin: 0;
	color: #84bfff;
	background:#001b2f url(../img/body_bgr.jpg) repeat-x top;
}

table.login
{
	margin-left:auto; 
    margin-right:auto;
	vertical-align:center;
}
table.login th{
	color:white;
	font-size: 20px;
	height:20px;
}


h1{
	color: white;
}

a{
	font-size: 12px;
	color: #84bfff;
	text-decoration:none;
}

a:hover{
	color:red;
	text-decoration:none;
}

table.tbp_quest a:hover {
	color:white;
	text-decoration:none;
}

table.questions a {
	font-size: 15px;
	color: #84bfff;
	text-decoration:none;
}

table.questions a:hover {
	color:red;
	text-decoration:none;
}


#content{
	text-align: left;
    display: block;
    margin: 0 auto;
    width: 980px;
    z-index: 5;
    position: relative;
}

#head {
    display: block;
    height: 157px;
    background: url(../img/head.jpg)	no-repeat;
    position: relative;
    z-index: 5;
}

#foot {
    background: url(../img/foot_bgr.jpg)	repeat-x;
    height: 147px;
    width: 980px;
    display: block;
    text-align: center;
}

div.logo{
	position: absolute;
    z-index: 6;
    top: 50px;
    left: 33px;
}

div.inner div.contents {
    padding-left: 33px;
    padding-right: 33px;
}

table.tbp_quest {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
	border-color: grey;
}

table.tbp_quest {
    position: absolute;
    top: 32px;
    right: 32px;
    font-weight: bold;
}

table.tbp_quest tr td.current_question {
    background-position: left top;
    color: #ffffff;
}

table.tbp_quest tr td.no_complete_question {
    background-position: right bottom;
    color: #ffffff;
}

table.tbp_quest tr td.complete_question {
    background-position: left bottom;
	color: #ffffff;
}

table.tbp_quest tr td {
    padding: 0;
    margin: 0;
    width: 31px;
    height: 31px;
    background: url(../img/table_ans.jpg) right top;
    text-align: center;
    vertical-align: middle;
    color: #3d89ff;
}

table.tbp_quest tr td a{
    width:100%;
    display: block;
}

div.timer{
    position: absolute;
    top: 350px;
    right: 60px;
    font-weight: normal;
}

div.questions{
	width: 730px;
}

div.questions div.n_quest span {
    color: #ffffff;
}

div.questions div.n_quest {
    padding: 32px 0 15px 0;
    border-bottom: 1px dotted #367EB6;
    color: #3d89ff;
}

form {
    display: block;
    margin-top: 0em;
}

div.break{
	width: 100%;
	height: 25px;
	overflow: hidden;
	position: relative;
}

table.questions{
	display: table;
    border-collapse: separate;
    border-spacing: 20px;
	border-left:none;
	border-right :none;
	border-top :none;
	border-bottom:none;
	border-color: #84bfff;
	
}

table.questions td{
	background: #02101D;
	font-size: 20px;
}

table.questions tr td a{
    display: block;
    width: 100%;
    height: 100%;
}

div.angles {
    position: absolute;
    width: 7px;
    height: 7px;
    display: block;
    background: url(../img/round_angles.jpg) no-repeat;
    font-size: 1px;
}

div.angle_l_t {
    top: -1px;
    left: -1px;
}

div.angle_r_t {
    top: -1px;
    right: -1px;
    background-position: top right;
}

div.angle_r_b {
    bottom: -1px;
    right: -1px;
    background-position: bottom right;
}

div.angle_l_b {
    bottom: -1px;
    left: -1px;
    background-position: bottom left;
}

div.break01{
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
}
div.break02{
	width: 100%;
	height: 418px;
	overflow: hidden;
	position: relative;
}

table.report{
	
}

table.report td{
	width:200px;
}


div.time{
	position: absolute;
    top: 50px;
    right:40px;
    text-align: center;
}

div.averagetime{
	position: absolute;
	top: 70px;
    right:40px;
    text-align: center;
}

div table.time{
	display:table;
	width:auto;
	text-align:right;
}

